body, html {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  color: #001F3F;
}

h1, h3 {
  color: #6DB4FD;
}

header {
  background: #001F3F;
  padding: 20px 35px;
}

.main-wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
}

aside {
  background: white;
  padding: 20px 35px;
  border-right: 2px solid #808F9F;
}

form {
  margin-top: 19.92px;
}

section {
  background: linear-gradient(to bottom right, #DFE3E7, #9FABB7);
  padding: 20px 35px;
}

ul {
  list-style: none;
}

label, input {
  width: 100%;
}
